@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,100italic,300italic,400italic,500italic,700,700italic,900,900italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);
* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body {
    font-size: 16px;
    line-height: 1.618em
}

.browser-support {
    width: 100%
}

.container {
    max-width: 1290px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px
}

@media only screen and (min-width:769px) {
    .container {
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 90px
    }
}

.cs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.cs__main {
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -ms-flex-order: 1;
    order: 1
}

@media only screen and (min-width:769px) {
    .cs__main {
        -ms-flex: 1 0 70%;
        flex: 1 0 70%;
        padding-right: 40px
    }
}

.cs__main hr {
    margin: 45px 0;
    border: 0;
    border-top: 2px solid #e2dedf
}

.cs__main--method .method h1 {
    color: #ac69ea;
    font-weight: 300;
    font-size: 72px
}

.cs__main--method .method h1 span {
    color: #898989;
    letter-spacing: 20px
}

.cs__main--method .desc {
    color: #777;
    font-weight: 400;
    font-size: 18px;
    margin: 0
}

.cs__main--examples h2 {
    margin: 0 0 40px;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 1px
}

.cs__main--examples .example__container, .tb__content .example__container {
    margin-top: 55px
}

.cs__main--examples .example__container .title, .tb__content .example__container .title {
    letter-spacing: 1px;
    color: #333;
    font-weight: 700;
    font-size: 20px
}

.cs__main--examples .example__container .desc, .cs__main--examples .example__container .intro, .example__container .explanation, .tb__content .example__container .desc, .tb__content .example__container .intro {
    color: #777;
    font-weight: 400;
    font-size: 18px
}

.cs__main--examples .example__container .intro, .tb__content .example__container .intro {
    margin-bottom: 30px
}

.cs__main--examples .example__container .desc, .tb__content .example__container .desc {
    margin-top: 30px
}

.cs__main--examples .example__container:nth-of-type(1), .tb__content .example__container:nth-of-type(1) {
    margin-top: 0
}

.cs__main--examples .example__container:nth-last-of-type(1) {
    margin-bottom: 45px
}

.cb {
    width: 100%
}

.cb__buttons {
    display: -ms-flexbox;
    display: flex
}

.cb__buttons__button {
    border-radius: 4px 4px 0 0;
    color: #b7b7b7;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    padding: .75em 1em;
    text-align: center
}

.cb__buttons__button--active {
    background-color: #f6f6f6;
    color: #f665ad
}

.cb__code-container {
    background-color: #f6f6f6;
    border-radius: 0 4px 4px;
    display: none;
    padding: 30px
}

.cb__code-container--active {
    display: block
}

.cb__code-container .code-container__pre {
    margin: 0
}

.cb__code-container .code-container__code, .example__container .code-container__code {
    font: 16px Roboto, sans-serif;
    white-space: pre-wrap
}

.code-container__code--syntax .hl {
    font-weight: 500
}

.code-container__code--syntax .line-number {
    color: #a5a5a5;
    margin-right: 10px
}

.code-container__code--syntax .keyword, .code-container__code--syntax .var-usage {
    color: #fe8702
}

.code-container__code--syntax .var-declare {
    color: #4886fc
}

.code-container__code--syntax .function-call {
    color: #ac69ea
}

.code-container__code--syntax .const-number {
    color: #fd7676
}

.code-container__code--syntax .comment {
    color: #a5a5a5
}

.tb {
    width: 100%
}

.tb__header {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #9193f7;
    border-radius: 4px;
    color: #fff7fc;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 25px;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.tb--open .tb__header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.tb__header__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 33px
}

.tb .tb__header__arrow--up {
    display: none
}

.tb--open .tb__header__arrow--up, .tb .tb__header__arrow--down {
    display: inline-block
}

.tb--open .tb__header__arrow--down {
    display: none
}

.tb__content {
    background-color: #f3f3fa;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    display: none;
    padding: 30px 15px;
    position: relative
}

@media only screen and (min-width:769px) {
    .tb__content {
        padding: 30px
    }
}

.tb--open .tb__content {
    display: block
}

.example__container .explanation {
    color: #333
}

.example__container__code-container, .explanation--margin {
    margin: 20px 2px
}

.tb__content .cb__buttons__button {
    background-color: #f3f3fa
}

.tb__content .cb__buttons__button--active, .tb__content .cb__code-container {
    background-color: #fff
}

.cs__main .tb {
    margin-bottom: 45px
}

.cs__main .tb:last-child {
    margin-bottom: 0
}

.cs__aside {
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -ms-flex-order: 4;
    order: 4;
    padding: 10px;
    margin: 0 -20px
}

@media only screen and (min-width:769px) {
    .cs__aside {
        padding: 0;
        border-top: none;
        margin: 0;
        -ms-flex-order: 2;
        order: 2;
        -ms-flex: 1 0 30%;
        flex: 1 0 30%
    }
}

.cs__aside--qa {
    padding: 30px 22px 26px
}

.cs__aside--other, .cs__aside--qa {
    background-color: #f3f3fa;
    margin-bottom: 35px
}

.cs__aside--other {
    padding: 35px 22px 45px
}

.cs__aside--qa .title {
    color: #f665ad;
    font-weight: 500;
    font-size: 18px
}

.cs__aside--qa .logo {
    color: #929292;
    margin-top: 5px;
    font-weight: 400;
    font-style: italic;
    font-size: 16px
}

.cs__aside--qa .related {
    margin-top: 35px;
    padding-bottom: 5px;
    border-bottom: 1px solid #797cf3
}

.cs__aside--qa .related .fa-angle-right {
    font-size: 22px;
    color: #797cf3
}

.cs__aside--qa .related a {
    font-size: 15px;
    font-weight: 500;
    color: #797cf3;
    padding-left: 10px;
    text-decoration: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.qna {
    margin-top: 25px
}

.qna .question {
    padding-top: 3px;
    line-height: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #7a6d73
}

.qna .answer, .qna .question {
    margin-left: 10px
}

.a__container, .q__container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row
}

.a__container .ball, .q__container .ball {
    font-size: 15px;
    font-weight: 700;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%
}

.q__container .ball {
    background-color: #a9bac5
}

.a__container {
    margin-top: 8px;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center
}

.qna.no .a__container .ball {
    background-color: #fea7a7
}

.qna.yes .a__container .ball {
    background-color: #98d59a
}

.qna.no .answer {
    color: #fd595b
}

.qna.yes .answer {
    color: #16b108
}

.cs__aside--other .title {
    color: #f665ad;
    font-weight: 500;
    font-size: 18px
}

.cs__aside--other .native, .cs__aside--other .non-native {
    margin-top: 30px
}

.cs__aside--other .native .title, .cs__aside--other .non-native .title {
    color: #8d8488;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase
}

.cs__aside--other .native ul, .cs__aside--other .non-native ul {
    margin: 2px 0 0;
    padding: 0;
    list-style: none
}

.cs__aside--other .native ul li, .cs__aside--other .non-native ul li {
    color: #8d8488;
    font-weight: 400
}

.cs__aside--other .library .title {
    font-size: 16px;
    text-transform: none
}

.libraries .library {
    margin-top: 30px
}

.libraries .library:first-of-type {
    margin-top: 0
}

.cs__bs {
    padding-top: 45px;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -ms-flex-order: 2;
    order: 2
}

@media only screen and (min-width:769px) {
    .cs__bs {
        -ms-flex-order: 3;
        order: 3
    }
}

.bs__container {
    -ms-flex-direction: column;
    flex-direction: column
}

.bs__container, .bs__container .bs__label {
    display: -ms-flexbox;
    display: flex
}

.bs__container .bs__label {
    margin-bottom: 40px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 25px
}

.bs__container .bs__label .status {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 5px;
    margin-right: 30px
}

.bs__container .bs__label .status:last-child {
    margin-bottom: 0
}

.bs__container .bs__label .status .status--color {
    border-radius: 3px;
    height: 24px;
    width: 24px
}

.bs__container .bs__label .status .status--name {
    color: #777;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px
}

.not-supported {
    background-color: #e55933
}

.partial-supported {
    background-color: #e6d900
}

.fully-supported {
    background-color: #9bc428
}

.bs__browser {
    border-radius: 2px;
    padding: 15px;
    margin-top: 10px
}

@media only screen and (min-width:769px) {
    .bs__browser {
        padding: 15px 35px
    }
}

.bs__browser .ie {
    color: #1ab8f4
}

.bs__browser .edge {
    color: #3177bc
}

.bs__browser .firefox {
    color: #d65d06
}

.bs__browser .chrome {
    color: #777
}

.browser {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.browser, .browser--name {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 175px;
    flex-basis: 175px
}

.browser--name {
    margin-right: 55px;
    -ms-flex-direction: row;
    flex-direction: row;
    font-weight: 500
}

.browser--name img {
    width: 40px;
    height: 40px;
    margin-right: 25px
}

.browser--version {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.browser--version .version {
    line-height: 40px;
    text-align: center;
    width: 60px;
    height: 40px;
    margin: 5px;
    color: #fff;
    border-radius: 3px;
    position: relative
}

.browser--version .version.version--selected {
    line-height: 48px;
    height: 48px;
    width: 68px;
    margin: 1px
}

.browser--version .version:last-child {
    margin-right: 0
}

.bs__version-radio {
    display: none
}

.bs__version-radio + label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.browser--version .version.partial-supported label {
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%
}

@media only screen and (min-width:520px) {
    .version--selected:after {
        border-bottom: 10px solid;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        content: '';
        height: 0;
        left: 24px;
        position: absolute;
        top: 64px;
        width: 0
    }
}

.version--selected:after {
    border-bottom-color: #fff
}

.info-container {
    display: none;
    margin-bottom: 15px;
    margin-top: 25px
}

.info-container--show {
    display: block
}

.version-info {
    border-radius: 2px;
    background-color: #fff;
    color: #616161;
    display: none;
    padding: 25px 45px 0 30px;
    position: relative;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

@media only screen and (max-width:400px) {
    .version-info {
        overflow: auto
    }
}

.version-info--selected {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row
}

@media only screen and (max-width:850px) {
    .version-info {
        flex-direction: column;
        -ms-flex-direction: column;
        -webkit-flex-direction: column
    }
}

.version-info__section {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px
}

.version-info__separator {
    background-color: #ebebeb;
    margin: 20px 25px 45px;
    min-width: 1px
}

@media only screen and (max-width:850px) {
    .version-info__separator {
        background-color: #ebebeb;
        height: 1px;
        margin-bottom: 25px;
        width: 100%;
        -ms-flex-item-align: center;
        align-self: center
    }
}

.version-info__section .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 15px
}

.version-info__section .note {
    color: #b7b7b7;
    font-size: 16px;
    font-weight: 500;
    margin-top: auto
}

.usage-list, .version-info__use {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    align-items: flex-start
}

.usage-list {
    width: 100%
}

.usage-list__item {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-pack: justify;
    width: 100%;
    justify-content: space-between
}

.usage-list__item__label {
    font-size: 18px;
    font-weight: 400
}

.usage-list__item__data {
    font-size: 18px;
    font-weight: 500
}

.numbered-list {
    counter-reset: a;
    margin-left: 0;
    padding-left: 0
}

.numbered-list>.numbered-list__item {
    margin: 0 0 6px 30px;
    padding: 6px;
    position: relative
}

.numbered-list>.numbered-list__item:before {
    border: 1px solid #9193f7;
    color: #9193f7;
    font-size: 15px;
    font-weight: 700;
    border-radius: 50%;
    content: counter(a);
    counter-increment: a;
    height: 24px;
    left: -30px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    top: 6px;
    width: 24px
}

.version-info__close {
    cursor: pointer;
    font-size: 30px;
    font-weight: 300;
    position: absolute;
    right: 20px;
    top: 23px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media only screen and (max-width:850px) {
    .version-info__close {
        right: 12px
    }
}

.cs__footnote {
    padding-top: 25px;
    padding-bottom: 60px;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    -ms-flex-order: 3;
    order: 3
}

@media only screen and (min-width:769px) {
    .cs__footnote {
        -ms-flex-order: 4;
        order: 4
    }
}

.cs__footnote .related {
    margin-top: 20px
}

.cs__footnote .related li {
    color: #333;
    font-weight: 400;
    font-size: 17px
}

.cs__footnote .related li a {
    color: #333;
    text-decoration: none
}

.cs__footnote .references {
    margin-top: 40px
}

.cs__footnote .references li {
    color: #333;
    font-weight: 400;
    font-size: 17px
}

.cs__footnote .references li a {
    text-decoration: none;
    color: #4b7de8
}

.cs__footnote .references h3, .cs__footnote .related h3 {
    color: #333;
    font-weight: 500;
    font-size: 22px;
    margin: 0
}

.cs__footnote .references ol, .cs__footnote .related ol {
    margin: 10px 0 0
}
